@import "tailwindcss";

@font-face {
  font-family: font1;
  /* Sirf /fonts se shuru karein */
  src: url('/fonts/Lausanne-300.woff2'); 
}

@font-face {
  font-family: font2;
  src: url('/fonts/Lausanne-500.woff2');
}

body {
  background: var(--background);
  color: white;
  font-family: font1, font2;
}
